@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: #222020;
}

html,
body {
  min-height: 100%;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  color: #bbb;
}

nav a:hover {
  color: #222020;
}

footer {
  background-color: #222020;
  width: 100%;
  padding: 24px 0;
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  p {
    color: #bbb;
  }
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: $tablet) {
    padding: 0 15px;
  }
}
